<div class="titleblock">
  <h1 class="tb-title">{{title}}</h1>
  {{#subtitle}}<div class="tb-subtitle">{{subtitle}}</div>{{/subtitle}}
  {{#author}}<div class="tb-authors">{{author}}</div>{{/author}}
  {{#institution}}<div class="tb-affil">{{institution}}</div>{{/institution}}
  {{#date}}<div class="tb-date">{{date}}</div>{{/date}}
  {{#abstract}}<div class="tb-abstract"><span class="tb-label">Abstract</span>{{abstract}}</div>{{/abstract}}
  {{#keywords}}<div class="tb-keywords"><span class="tb-label">Keywords</span> {{keywords}}</div>{{/keywords}}
</div>
